<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit user</title>

</head>
<body>

<!-- user edition -->
<form id="edit-form" th:action="@{/users/{id}/edit(id=${userDto.id})}" th:method="post" action="users-edit.html">
    <h1>User Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" name="id" type="text" readonly="readonly" th:value="${userDto.id}" value="1"/>
    </div>

    <div class="row">
        <label for="title-input">Name:</label>
        <input id="title-input" name="name" type="text" th:value="${userDto.name}" value="Tanya Grotter"/>
    </div>

    <div class="row">
        <label for="authors-input">Age:</label>
        <input id="authors-input" name="age" type="text" th:value="${userDto.age}" value="15"/>
    </div>

    <div class="row">
        <label for="mails-input">Mail:</label>
        <input id="mails-input" name="mail" type="text" th:value="${userDto.mail}" value="@mail.ru"/>
    </div>

    <div class="row">
        <label for="typepets-input">TypePet:</label>
        <input id="typepets-input" name="typePet" type="text" th:value="${userDto.typePet}" value="Rat"/>
    </div>

    <div class="row">
        <label for="pets-input">Pet:</label>
        <input id="pets-input" name="pet" type="text" th:value="${userDto.pet}" value="Doris"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>